/**
 *Styles for the Admin functions
 **/

#nodeorder {
	width: 100%;
	.no-title, .no-thumb {
		float: left
	}
	.no-title {
		width: 60%;
	}
	.edit-link {
		float: right;
		margin: 0 10px 0 20px;
		a {
			color: blue;
		}
	}
}

#bpn-upload-form {
	.form-item {
		margin: 0;
	}
	.field-type-list-text {
		margin: 0;
	}
	fieldset.collapsible .fieldset-legend {
		margin: 0;
	}
	.field-name-field-supporting-images {
		.fieldset-description {
			display: none;
		}
	}
}