// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
/**
 *Sprite mixins
 **/
@import "compass/utilities/sprites";
//$article-share-layout:smart;
//$article-share-dimensions:true;
//@import "sprites/article-share/*.png";

$articleshare: sprite-map("sprites/articleshare/*.png", $articleshare-layout:smart, $articleshare-dimensions:true);
$star: sprite-map("sprites/star/*.png", $star-layout:smart, $star-dimensions:true);

@mixin box-sizing($size) {
  -webkit-box-sizing: $size;
     -moz-box-sizing: $size;
      -ms-box-sizing: $size;
          box-sizing: $size;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin hearts-comments {
      text-indent: 22px;
      margin: 0 0 0 10px;
      display: inline-block;
}

@mixin article-listing {
  @include article-share;
}

@mixin article-share {
}

@mixin gown-nav {
	ul.pager {
		margin:0 auto 18px;
		list-style:none;
		padding:0;
		text-align:left;
		li {
			display: inline-block;
			a {
				display:block;
				color:#fff;
				font: 16px/18px 'Open Sans',Arial,Helvetica,sans-serif;
				text-decoration: none;
				padding:7px;
				margin: 0 5px;
				background: #f49ac1;
				opacity:1;
				min-width: 42px;
				text-transform: uppercase;
				position: relative;
			}
			 a:hover{
				background: #f49ac1;
				opacity:.9;
			}
		}
		li.pager-previous {
			float: left;
			a {
				text-align: right;
				padding: 7px 17px 7px 23px;
				text-indent: -9999px;
			}
			a:before {
				content:'';
				clear:both;
				position:absolute;
				left:12px;
				top:10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 6px 6px 0;
				border-color: transparent #FFF transparent transparent;
			}
		}
		
		li.pager-current {
			display: none;
		}
		
		li.pager-next {
			float: right;
			a {
				text-align: left;
				padding: 7px 23px 7px 17px;
			}
			a:after {
				content:'';
				clear:both;
				position:absolute;
				right:12px;
				top:10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 0 6px 6px;
				border-color: transparent transparent transparent #FFF;
			}
		}
	}
}
@mixin shaded-title {
	text-align: left;
	position: absolute;
	bottom: 0px;
	padding: .5% 0;
	width: 100%;
	font-size: 22px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
		a {
			font-family: $arapey-italic;
			font-style: italic;
			color: #FFF;
			font-size: 22px;
			&:hover {
				text-decoration: underline;
			}
		}
	span {
		padding: 0 10px;
		display: block;
	}
}
@mixin load-more {
	#load-more{
		text-align: center;
		font-style: italic;
		padding: 1% 0;
		background: $bg-pink;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10px;
		cursor: pointer;
		@include border-radius(10px);
	}
	#load-more span:before { 
		content: '';
		position: relative;
		top: 12px;
		right: 10px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #000;
	}
	#load-more.hide {
		display: none;
	}
	#load-more.show {
		display: block;
	}
}
