/*
 *Article listings
 */
.views-list {
	.views-row {
		padding: 20px;
		.list-image {
			width: 28%;
			margin: 0 2% 0 0;
			display: inline-block;
			vertical-align: middle;
		}
		.list-text {
			width: 69.5%;
			display: inline-block;
			.read-more {
				text-align: right;
			}
		}
	}
}

/*
 *Taxonomy Article List
 */
.article-list {
	font-size: 0;
	li {
		position: relative;
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		border-bottom: 1px solid rgba(0,0,0,.15);
		.list-image {
			width: 30%;
			margin: 0 5% 0 0;
			display: inline-block;
			vertical-align: top;
			@media screen and (max-width:600px) {
				width: 100%;
			}
		}
		.list-text {
			width: 65%;
			display: inline-block;
			vertical-align: top;
			@media screen and (max-width:600px) {
				width: 100%;
			}
			.title {
				font-size: 30px;
				line-height:34px;
				font-style:italic;
				margin: 0 0 15px 0;
				@media screen and (max-width:600px) {
					font-size: 20px;
					line-height:24px;
				}	
			}
			.subtitle {
				font-size: 14px;
				font-family: $open-sans;
				color: #000;
				@media screen and (max-width:600px) {
					display: none;
				}
			}
			.article-share {
				display: block;
				position: absolute;
				right: 0px;
				bottom: 0px;
				margin: 0;
				width: auto;
				color: #000;
				font-family: $open-sans-bold;
				@media screen and (max-width:600px) {
					position: relative;
					text-align: right;
				}
				.counts {
					.share-counts {
						li {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}

/*
 *2-accross listings with gradient title
 */
.gradient-titles {
	font-size: 0;
	.views-row {
		width: 48%;
		padding: 0;
		margin: 0 1% 10px 1%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		border-bottom: none;
		.list-image {
			width: 100%;
			margin: 0;
			display: block;
			img {
				width: 100%;
			}
		}
		.views-field-title {
			@include shaded-title;
		}
	}
}